@media only screen and (max-width: 1440px) {
    .container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-flow: wrap;


}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;

}

button {
    background-color: hsl(0, 0%, 95%) !important;
    border-radius: 5em;
    padding: 1em;
    width: 10em;
}



.container .sedans {
    width: 20%;
    box-sizing: border-box;
    min-height: 400px;
    padding: 2em;
    background-color: hsl(31, 77%, 52%) !important;

}

h1 {
    color: hsl(0, 0%, 95%) !important;
    text-transform: uppercase;
}

p {
    color: hsla(0, 0%, 100%, 0.75) !important;
}

.container .suvs {
    width: 20%;
    box-sizing: border-box;
    min-height: 400px;
    background-color: hsl(184, 100%, 22%);
    padding: 2em;
    background-color: hsl(184, 100%, 22%) !important;

}

.container .luxury {
    width: 20%;
    box-sizing: border-box;
    min-height: 400px;
    padding: 1.5em;
    background-color: hsl(179, 100%, 13%) !important;

}
}

@media only screen and (min-width: 375px) and (max-width: 600px) {
    body {
      background-color: #F09A9D; /* Red */
      margin: 0;
      padding: 0;
    }

    button {
        background-color: hsl(0, 0%, 95%) !important;
        border-radius: 5em;
        padding: 1em;
        width: 10em;
    }

    * {
        box-sizing: border-box;
        font-family: 'Lexend Deca', sans-serif;
        font-family: 'Big Shoulders Display', cursive;
        font-family: 'Lexend Deca', sans-serif;
    
    }

    h1 {
        color: hsl(0, 0%, 95%) !important;
        text-transform: uppercase;
    }

    p {
        color: hsla(0, 0%, 100%, 0.75) !important;
    }

    .container .sedans {
        width: 100%;
        padding: 1em;
    background-color: hsl(31, 77%, 52%) !important;

    }

    .container .suvs {
        width: 100%;
        padding: 1em;
    background-color: hsl(184, 100%, 22%) !important;


    }

    .container .luxury {
        width: 100%;
        padding: 1em;
    background-color: hsl(179, 100%, 13%) !important;


    }
  }